//script(src='http://code.jquery.com/jquery-2.0.3.min.js')
//script(src='/js/vendor/jquery.form.js')
//script(src='/js/views/login.js')
//script(src='/js/controllers/loginController.js')
//script(src='/js/form-validators/loginValidator.js')
//script(src='/js/form-validators/emailValidator.js')
