!!!
html
    include inc/header

    body
        .container

            block navbar
                include inc/navbar
                include signup
                include modals/alert


            block content

            block footer
                include inc/footer

            block scripts
                include inc/scripts